.infobar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    min-width: 5vw;
    max-width: 99vw;
    height: 100%;
    background: rgb(212,212,212);
    background: linear-gradient(180deg, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 73%);
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    resize: horizontal; /* Allow horizontal resizing */
    overflow: auto; /* Add scrollbars if content overflows */
    display: flex;
    direction: rtl /* To put the resize corner on the right side */
}

.infobar.closed {
    transform: translateX(100%);
}

.infobar.open {
    transform: translateX(0);
}

.infobar_toggle {
    position: absolute;
    top: 20px;
    right: -40px;
    z-index: 1;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.infobar_content {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    font-family: "arial";
    direction: ltr; /* Set the direction back */
}

.infobar_content_element {
    margin: auto;
    padding: 30px;
    justify-content: center;
    text-align: center;
    font-family: "arial";
}

table {
    display: inline-block;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

tr.result-row:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.rotated-header {
    border-collapse: collapse;
    position: relative;
    text-align: center;
    transform: rotate(-170deg);
    writing-mode: vertical-lr;
    white-space: nowrap;
    padding: 20px 3px; /* Add horizontal padding here */
    width: 40px;
    text-decoration: underline; /* Add underline style */
}

.tooltip_marker {
    text-decoration: underline; /* Add underline style */
}

.legend_container {
    display: flex;
    justify-content: center;
}

.legend_item {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.button2 {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 100px;
    z-index: 3;
    font-family: "arial";
    font-weight: bold;
    justify-content: center;
}

.button2_glow {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 100px;
    z-index: 3;
    font-family: "arial";
    font-weight: bold;
    justify-content: center;
    background-color: #6aff6a;
    opacity: 0.5;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6aff6a, 0 0 70px #6aff6a, 0 0 80px #6aff6a, 0 0 100px #6aff6a;
}
